<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157957136587-6g5seleujvpgfuma0h5mnq5st97k5vl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157957136587-6g5seleujvpgfuma0h5mnq5st97k5vl4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>157957136587-9gipcekgl849rttdi7ur0g7h60lko8lf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvY2Q8LYmOBSGTejjQEGqlDww6maEggAU</string>
	<key>GCM_SENDER_ID</key>
	<string>157957136587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.images</string>
	<key>PROJECT_ID</key>
	<string>images-d29d5</string>
	<key>STORAGE_BUCKET</key>
	<string>images-d29d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157957136587:ios:eb28360962b6e7066abb4e</string>
</dict>
</plist>